<div ng-controller="linkedpagesCheckerController as vm">

    <div class="form-horizontal">
        <umb-box>
            <umb-box-header title="Releation checker"></umb-box-header>
            <umb-box-content>
                <p>This tool can put in place missing links between content trees where the node names are the same.
                <span class="color-red">This will only work if the node names are the same in each tree!</span>
                If your node names have been translated or are diffrent you need to manually link the pages</p>
            </umb-box-content>
        </umb-box>

        <div class="flex" ng-if="vm.report.length == 0 && vm.checkbuttonState != 'busy'">

            <div class="flx-b5">
                <umb-box>
                    <umb-box-header title="Source Site"></umb-box-header>
                    <umb-box-content>
                        <umb-tree section="content"
                                  hideheader="true"
                                  hideoptions="true"
                                  isdialog="true"
                                  api="vm.sourceTree.dialogTreeApi"
                                  on-init="vm.onTreeInit(vm.sourceTree)"
                                  enablelistviewexpand="true"
                                  enablecheckboxes="true">
                        </umb-tree>
                    </umb-box-content>
                </umb-box>
            </div>

            <div class="flx-b5">
                <umb-box>
                    <umb-box-header title="Target Site"></umb-box-header>
                    <umb-box-content>
                        <umb-tree section="content"
                                  hideheader="true"
                                  hideoptions="true"
                                  isdialog="true"
                                  api="vm.targetTree.dialogTreeApi"
                                  on-init="vm.onTreeInit(vm.targetTree)"
                                  enablelistviewexpand="true"
                                  enablecheckboxes="true">
                        </umb-tree>
                    </umb-box-content>
                </umb-box>
            </div>
        </div>

        <umb-box>
            <umb-box-content>

                <umb-control-group label="Source Node"
                                   description="node you want to check links for">
                    <span>{{vm.sourceTree.target.name}} <br /> {{vm.sourceTree.target.udi}} ({{vm.sourceTree.target.id}})</span>
                </umb-control-group>

                <umb-control-group label="Target Node"
                                   description="node you want to create links for">
                    <span>{{vm.targetTree.target.name}} <br /> {{vm.targetTree.target.udi}} ({{vm.targetTree.target.id}})</span>
                </umb-control-group>

                <umb-control-group>
                    <umb-button ng-if="vm.targetTree.target.selected && vm.sourceTree.target.selected"
                                type="button"
                                action="vm.check()"
                                button-style="action"
                                state="vm.checkbuttonState"
                                label="Check"></umb-button>
                </umb-control-group>

            </umb-box-content>
        </umb-box>

        <umb-box ng-if="vm.report.length > 0">

            <umb-box-content>

                <div class="umb-table">
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell"><input type="checkbox" ng-model="vm.selected"
                                                               ng-click="vm.toggleSelect()"/>
                            </div>

                            <div class="umb-table-cell">Path</div>
                            <div class="umb-table-cell">Source</div>
                            <div class="umb-table-cell">Target</div>
                            <div class="umb-table-cell">Status</div>
                        </div>
                    </div>
                </div>

                <div class="umb-table-body">
                    <div ng-repeat="item in vm.report" class="umb-table-row"
                         ng-class="{'color-green' : item.Status == 'Related', 'color-red' : item.Status == 'MissingTarget', 'color-orange' : item.Status == 'Mismatched'}">
                        <div class="umb-table-cell">
                            <input type="checkbox" ng-model="item.selected"
                                                           ng-click="vm.selectItem(item, $event)"
                                                           ng-show="item.Status == 'NoLink'"/>
                            </div>
                        <div class="umb-table-cell">{{item.Path}}</div>
                        <div class="umb-table-cell">{{item.SourceName}}</div>
                        <div class="umb-table-cell">{{item.TargetName}}</div>
                        <div class="umb-table-cell">{{item.Status}}</div>
                    </div>
                </div>

            </umb-box-content>

            <umb-box-content ng-if="vm.selectedItems.length > 0">
                <umb-button type="button"
                            label="Fix {{vm.selectedItems.length}} Items"
                            action="vm.fix()"
                            button-style="success"
                            state="vm.checkbuttonState"></umb-button>
            </umb-box-content>

        </umb-box>
    </div>
</div>